@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';

.container{
  width: 100%;
  margin-bottom: 50px;
  .navigation{
    text-align: center;
    @include text( 1.6rem, 700);
    .link{
      color: $linkColor;
      text-decoration: none;
      padding: 0.8rem 0;
      margin-right: 1.25rem;
    }
    .active{
      text-decoration: none;
      color: $lightText;
      border-bottom: 2px solid rgb(185, 91, 27);
      padding: 0.8rem 0;
      margin-right: 1.25rem;
    }
  }
}
