$lightText: rgb(231, 221, 210);
$lightTextOpacity: rgba(231, 221, 210, 0.5);
$linkColor: rgba(99, 145, 185, 0.8);
$buttonSave: rgba(9, 100, 80, 0.9);
$buttonReset: rgba(116, 21, 34, 0.7);
$inputBg: rgba(224, 224, 224, 0.2);
$firstAddNoteGradient: rgba(71, 14, 109, 0.9);
$secondAddNoteGradient: rgba(32, 66, 105, 0.9);

$borderRadius: 0.95rem;